<!--<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title  *ngIf='!loading'>
      От {{ menu?.acf.date_monday }} до {{ menu?.acf.date_saturday }}
    </ion-title>
  </ion-navbar>
</ion-header>-->
<ion-content>

 <div no-border-top *ngIf='!loading' class="top_toolbar">
<span class="center"><p>Седмично меню в периода</p></span>
    <ion-segment [(ngModel)]="menus">
      <ion-segment-button value="weekly">
        от {{ Menu_date_start }} до {{ Menu_date_end }}
      </ion-segment-button>
      <ion-segment-button value="nextWeek">
        от {{ menuNext_date_start }} до {{ menuNext_date_end }}
      </ion-segment-button>
    </ion-segment>
  </div>



<ion-spinner name="crescent" *ngIf='loading'></ion-spinner>
 


<div [ngSwitch]="menus" *ngIf='!loading'>
    
  
  <ion-list *ngSwitchCase="'weekly'">
    <ion-card>
      <ion-list-header>
        <ion-badge>Понеделник - {{ menu?.acf.date_monday }} </ion-badge>
      </ion-list-header>
      <ion-item> 
          <h2> {{ menu?.acf.ponedelnik_qstie_1 }} </h2>
          
          <p> {{ menu?.acf.sustavki_1_pon }} </p> 
      </ion-item>
      <ion-item> 
          <h2> {{ menu?.acf.ponedelnik_qstie_2 }} </h2>
          
          <p> {{ menu?.acf.sustavki_2_pon }} </p> 
      </ion-item>
      <ion-item> 
          <h2> {{ menu?.acf.ponedelnik_qstie_3 }} </h2>
          
          <p> {{ menu?.acf.sustavki_3_pon }} </p> 
      </ion-item>
    </ion-card>
   
  <ion-card>
    <ion-list-header>
      <ion-badge>Вторник - {{ menu?.acf.date_tuesday }}</ion-badge>
    </ion-list-header>

      <ion-item> 
        <h2> {{ menu?.acf.vtornik_qstie_1 }} </h2>
        
        <p> {{ menu?.acf.sustavki_1_vtornik }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.vtornik_qstie_2 }} </h2>
        
        <p> {{ menu?.acf.sustavki_2_vtornik }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.vtornik_qstie_3 }} </h2>
        
        <p> {{ menu?.acf.sustavki_3_vtornik }} </p> 
    </ion-item>
  </ion-card>
    
   
<ion-card>
    <ion-list-header>
      <ion-badge>Сряда - {{ menu?.acf.date_wednesday }}</ion-badge>
    </ion-list-header>
      <ion-item> 
        <h2> {{ menu?.acf.srqda_qstie_1 }} </h2>
        
        <p> {{ menu?.acf.sustavki_1_srqda }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.srqda_qstie_2 }} </h2>
        
        <p> {{ menu?.acf.sustavki_2_srqda }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.srqda_qstie_3 }} </h2>
        
        <p> {{ menu?.acf.sustavki_3_srqda }} </p> 
    </ion-item>
</ion-card>
<ion-card>
    <ion-list-header>
     <ion-badge>Четвъртък - {{ menu?.acf.date_thursday }}</ion-badge>
    </ion-list-header>
    <ion-item> 
        <h2> {{ menu?.acf.chetvurtuk_qstie_1 }} </h2>
        
        <p> {{ menu?.acf.sustavki_1_chetvurtuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.chetvurtuk_qstie_2 }} </h2>
        
        <p> {{ menu?.acf.sustavki_2_chetvurtuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.chetvurtuk_qstie_3 }} </h2>
        
        <p> {{ menu?.acf.sustavki_3_chetvurtuk }} </p> 
    </ion-item>
</ion-card>
<ion-card>
    <ion-list-header>
     <ion-badge>Петък - {{ menu?.acf.date_friday }}</ion-badge>
    </ion-list-header>
    <ion-item> 
        <h2> {{ menu?.acf.petuk_qstie_1 }} </h2>
        
        <p> {{ menu?.acf.sustavki_1_petuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.petuk_qstie_2 }} </h2>
        
        <p> {{ menu?.acf.sustavki_2_petuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.petuk_qstie_3 }} </h2>
        
        <p> {{ menu?.acf.sustavki_3_petuk }} </p> 
    </ion-item>
</ion-card>
<ion-card>
    <ion-list-header>
     <ion-badge>Събота - {{ menu?.acf.date_saturday }}</ion-badge>
    </ion-list-header>
    <ion-item> 
        <h2> {{ menu?.acf.subota_qstie_1 }} </h2>
        
        <p> {{ menu?.acf.sustavki_1_subota }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.subota_qstie_2 }} </h2>
        
        <p> {{ menu?.acf.sustavki_2_subota }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menu?.acf.subota_qstie_3 }} </h2>
        
        <p> {{ menu?.acf.sustavki_3_subota }} </p> 
    </ion-item>
</ion-card>

  </ion-list>

  <ion-list *ngSwitchCase="'nextWeek'">
  <ion-card>
    <ion-list-header>
      <ion-badge>Понеделник - {{ menuNext?.acf.date_monday }}</ion-badge>
    </ion-list-header>
     <ion-item> 
        <h2> {{ menuNext?.acf.ponedelnik_qstie_1 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_1_pon }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.ponedelnik_qstie_2 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_2_pon }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.ponedelnik_qstie_3 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_3_pon }} </p> 
    </ion-item>

  </ion-card>
  
   
<ion-card>
    <ion-list-header>
      <ion-badge>Вторник - {{ menuNext?.acf.date_tuesday }}</ion-badge>
    </ion-list-header>

      <ion-item> 
        <h2> {{ menuNext?.acf.vtornik_qstie_1 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_1_vtornik }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.vtornik_qstie_2 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_2_vtornik }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.vtornik_qstie_3 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_3_vtornik }} </p> 
    </ion-item>
    
</ion-card>
<ion-card>

    <ion-list-header>
      <ion-badge>Сряда - {{ menuNext?.acf.date_wednesday }}</ion-badge>
    </ion-list-header>
      <ion-item> 
        <h2> {{ menuNext?.acf.srqda_qstie_1 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_1_srqda }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.srqda_qstie_2 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_2_srqda }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.srqda_qstie_3 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_3_srqda }} </p> 
    </ion-item>
</ion-card>
<ion-card>
    <ion-list-header>
     <ion-badge>Четвъртък - {{ menuNext?.acf.date_thursday }}</ion-badge>
    </ion-list-header>
    <ion-item> 
        <h2> {{ menuNext?.acf.chetvurtuk_qstie_1 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_1_chetvurtuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.chetvurtuk_qstie_2 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_2_chetvurtuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.chetvurtuk_qstie_3 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_3_chetvurtuk }} </p> 
    </ion-item>
</ion-card>
<ion-card>
    <ion-list-header>
     <ion-badge>Петък - {{ menuNext?.acf.date_friday }}</ion-badge>
    </ion-list-header>
    <ion-item> 
        <h2> {{ menuNext?.acf.petuk_qstie_1 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_1_petuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.petuk_qstie_2 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_2_petuk }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.petuk_qstie_3 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_3_petuk }} </p> 
    </ion-item>
</ion-card>
<ion-card>
    <ion-list-header>
      <ion-badge>Събота - {{ menuNext?.acf.date_saturday }}</ion-badge>
    </ion-list-header>
    <ion-item> 
        <h2> {{ menuNext?.acf.subota_qstie_1 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_1_subota }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.subota_qstie_2 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_2_subota }} </p> 
    </ion-item>
     <ion-item> 
        <h2> {{ menuNext?.acf.subota_qstie_3 }} </h2>
        
        <p> {{ menuNext?.acf.sustavki_3_subota }} </p> 
    </ion-item>
</ion-card>

  </ion-list>

</div>

</ion-content>